frontend/dist
frontend/node_modules
frontend/.env
frontend/.vite
frontend/src/archive

# compiled output
backend/dist
backend/client

# dotenv environment variable files
backend/.env
backend/certs

backend/node_modules