@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: x-large;
}

html, body, #root {
    height: 100%;
}

body {
    background-color: #1e2124;
}
 
.filter-white {
    filter: invert(100%) sepia(89%) saturate(132%) hue-rotate(281deg) brightness(119%) contrast(100%);
}