.compose-search-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.compose-search-item {
    width: fit-content;
}

.blue {
    color: #1DA1F2;
    
}

.compose-input{
    background-color: white;
}

.compose-search-target {
    color: #1DA1F2;
}