.post-container {
    background-color: #1e2124;
    color: white;
    padding: .5rem;
    border: solid white .1rem;
}

.post-info-container {
    display: flex;
    flex-direction: column;
}

.post-info-parent {
    padding-bottom: .5rem;
}

.post-info-outer-container {
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

.post-info-avatar {
    width: 20%;
    border-radius: 15%;
    border: solid #7289da .1rem;
}

.post-info-inner-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    gap: .3rem;
}

.post-info-author {
    color: #7289da;
}

.post-info-date {
    font-size: medium;
}

.post-content {
    margin: .75rem 0;
}

.post-actions-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.post-action-container {
    display: flex;
    justify-content: center;
    gap: .5rem;
    align-items: center;
}

.post-action-separator {

}

.post-action {
    background-color: #1e2124;
    color: white;
    display: flex;
}

.post-action-img-false {
    height: 20px;
    filter: invert(100%) sepia(89%) saturate(132%) hue-rotate(281deg) brightness(119%) contrast(100%);
}

.post-action-img-true {
    height: 20px;
    filter: invert(56%) sepia(33%) saturate(771%) hue-rotate(190deg) brightness(91%) contrast(86%);
}